# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb

# Python packaging
dist/
.eggs/
*.egg-info/

# Python tests
.pytest_cache/

# Ducktape
.ducktape
results/

# JetBrains
.idea/

# Visual Studio Code
bin/
.settings/
.classpath
.project
.vscode/settings.json